.headphones{
    background-color: rgb(218, 218, 218);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    height: 520px;
    width: 1200px;
    margin-left: 130px;
    margin-top: 30px;
}
.f-header{
    margin-top: 40px;
    margin-left: 100px;
}
.f-beats{
    font-size: 30px;
    font-weight: bold;
}
.f-wireless{
    font-size: 90px;
    font-weight: bold;
    margin-top: 10px;
}
.f-headphone{
    color: rgb(255, 255, 255);
    font-size: 130px;
    font-weight: bold;
    position: absolute;
    margin-top: -100px;
}
.btn-shop{
    margin-top: 50px;
    height: 40px;
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 40px;
    width: 170px;
}
.btn-shop:hover{
    background-color: white;
    color: red;
}
.btn-shop:active{
    opacity: 70%;
}
.img-headphone{
    width: 800px;
    margin-left: 20px;
}
.earphone{
    display: flex;
    background-color: rgb(39, 39, 39);
    height: 320px;
    width: 300px;
    border-radius: 15px;
    margin-left: 130px;
}
.img-earphone{
    width: 250px;
    position: absolute;
    left: 210px;
    margin-top: 5px;
}
.img-watch{
    width: 260px;
    position: absolute;
    left: 530px;
    margin-top: 15px;
}
.img-laptop{
    width: 320px;
}
.img-oculus{
    position: absolute;
    width: 220px;
    left: 800px;
}
.img-speaker{
    position: absolute;
    width: 280px;
    left: 1090px;
    
}
.products{
    margin-top: 20px;
    display: flex;
}
.font-header{
    margin-left: 15px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}
.font-header-oculus{
    margin-left: 15px;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
}
.font-header-speaker{
    margin-left: 15px;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
}
.f-enjoy{
    color: white;
    font-family: sans-serif;
}
.f-with{
    color: white;
    font-size: 30px;
    margin-top: 0;
    font-weight: bold;
}
.f-earphone{
    margin-top: 0;
    color: rgb(102, 102, 102);
    font-size: 45px;
    font-weight: bold;
    margin-top: -20px;
}
.f-glasses{
    margin-top: 0;
    color: rgba(255, 255, 255, 0.545);
    font-size: 45px;
    font-weight: bold;
    margin-top: -20px;
}
.btn-browse{
    height: 35px;
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 40px;
    width: 130px;
    margin-top: -35px;
}
.btn-browse1{
    height: 35px;
    background-color: white;
    color: rgb(255, 221, 0);
    border-style: none;
    border-radius: 40px;
    width: 130px;
    margin-top: -35px;
}
.btn-browse2{
    height: 35px;
    background-color: rgb(255, 255, 255);
    color: red;
    border-style: none;
    border-radius: 40px;
    width: 130px;
    margin-top: -35px;
}
.btn-browse3{
    height: 35px;
    background-color: rgb(255, 255, 255);
    color: blue;
    border-style: none;
    border-radius: 40px;
    width: 130px;
    margin-top: -35px;
}
.btn-browse4{
    height: 35px;
    background-color: rgb(255, 255, 255);
    color: rgb(17, 201, 4);
    border-style: none;
    border-radius: 40px;
    width: 130px;
    margin-top: -35px;
}
.btn-browse5{
    height: 35px;
    background-color: rgb(255, 255, 255);
    color: purple;
    border-style: none;
    border-radius: 40px;
    width: 130px;
    margin-top: -35px;
}

.btn-browse3:hover{
    background-color: blue;
    color: white;
}
.btn-browse3:active{
    opacity: 70%z;
}
.btn-browse2:hover{
    background-color: red;
    color: white;
}
.btn-browse2:active{
    opacity: 70%;
}
.btn-browse1:active{
    opacity: 70%;
}
.btn-browse:hover{
    background-color: white;
    color: red;
}
.btn-browse1:hover{
    background-color: rgb(255, 221, 0);
    color: white;
}
.btn-browse:active{
    opacity: 70%;
}
.btn-browse3:active{
    opacity: 70%;
}
.btn-browse4:hover{
   background-color: green;
   color: white;
}
.btn-browse4:active{
    opacity: 70%;
}
.btn-browse5:hover{
    background-color: purple;
    color: white;
}
.btn-browse5:active{
    opacity: 70%;
}
.watch{
    display: flex;
    background-color: rgb(226, 196, 0);
    height: 320px;
    width: 300px;
    border-radius: 15px;
    margin-left: 20px;
}
.laptop{
    display: flex;
     background-color: rgb(255, 0, 0);
     width: 560px;
     margin-left: 20px;
     border-radius: 15px;
}
.console{
     display: flex;
     background-color: blue;
     width: 560px;
     margin-left: 20px;
     border-radius: 15px;
     margin-left: 130px;
}
.laptop-fonts{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 10px;
    margin-top: 60px;
}
.vr{
    display: flex;
    background-color: rgb(17, 201, 4);
    height: 320px;
    width: 300px;
    border-radius: 15px;
    margin-left: 20px;
}
.speaker{
    display: flex;
    background-color: purple;
    height: 320px;
    width: 300px;
    border-radius: 15px;
    margin-left: 20px;
}
.add{
    display: flex;
    margin-left: 155px;
    gap: 80px;
    margin-top: 50px;
}
.img-shipping{
    width: 100px;
}
.shipping{
    display: flex;
}
.shipping-fonts{
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}
.f-shipping{
    font-weight: bold;
    margin-bottom: 0;
    color: red;
}
.f-shipping2{
    margin-top: 0;
    color: black;
}
.img-wallet{
    width: 60px;
    margin-top: 17px;
    margin-right: 5px;
}



/* middle part */

.middle-part{
    display: flex;
    justify-content: space-around;
    background-color: red;
    height: 350px;
    width: 1200px;
    margin-left: 130px;
    margin-top: 150px;
    border-radius: 30px;
}
.left-fonts{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.img-head{
    width: 400px;
    margin-top: -100px;
    position: absolute;
    left: 420px;
}
.f-off{
    font-size: 20px;
    font-weight: lighter;
    color: white;
}
.f-fine{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 100px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
.f-smile{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100px;
    color: white;
    font-weight: bold;
}
.f-nov{
    color: white;
    margin-left: 10px;
    margin-top: 0;
}
.f-air{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.f-summer{
    color: white;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}
.f-company{
    color: white;
    font-size: 20px;
    width: 300px;
    padding-bottom: 20px;
}


/* best seller products */

.f-bestseller{
    color: black;
    font-weight: bold;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
}
.f-passages{
    color: grey;
    font-size: 25px;
    margin-top: 0;
    margin-left: 70px;
}
.font-best-seller{
    display: flex;
    flex-direction: column;
    margin-left: 440px;
    margin-top: 60px;
}