.headphones{
    background-color: rgb(218, 218, 218);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    height: 520px;
    width: 1200px;
    margin-left: 130px;
    margin-top: 30px;
}
.f-header{
    margin-top: 40px;
    margin-left: 100px;
}
.f-beats{
    font-size: 30px;
    font-weight: bold;
}
.f-wireless{
    font-size: 90px;
    font-weight: bold;
    margin-top: 10px;
}
.f-headphone{
    color: rgb(255, 255, 255);
    font-size: 130px;
    font-weight: bold;
    position: absolute;
    margin-top: -100px;
}
.btn-shop{
    margin-top: 50px;
    height: 40px;
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 40px;
    width: 170px;
}
.btn-shop:hover{
    background-color: white;
    color: red;
}
.btn-shop:active{
    opacity: 70%;
}
.img-headphone{
    width: 800px;
    margin-left: 20px;
}
.earphone{
    display: flex;
    background-color: rgb(39, 39, 39);
    height: 320px;
    width: 300px;
    border-radius: 15px;
    margin-left: 130px;
}
.img-earphone{
    width: 250px;
    position: absolute;
    left: 210px;
    margin-top: 5px;
}
.products{
    margin-top: 20px;
}
.font-header{
    margin-left: 15px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}
.f-enjoy{
    color: white;
    font-family: sans-serif;
}
.f-with{
    color: white;
    font-size: 30px;
    margin-top: 0;
    font-weight: bold;
}
.f-earphone{
    margin-top: 0;
    color: rgb(102, 102, 102);
    font-size: 45px;
    font-weight: bold;
    margin-top: -20px;
}
.btn-browse{
    height: 35px;
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 40px;
    width: 130px;
    margin-top: -35px;
}
.btn-browse:hover{
    background-color: white;
    color: red;
}
.btn-browse:active{
    opacity: 70%;
}
